<section class="bg-[#DEDEDE] py-12">
  <div
    class="mx-auto flex max-w-6xl flex-col-reverse gap-6 px-4 md:flex-row md:items-center md:justify-between"
  >
    <div class="md:w-[42%]">
      <h2 class="text-center text-[30px] font-bold uppercase text-[#4F4F4F]">
        Lorem ipsum
      </h2>

      <div class="mt-8 space-y-8">
        <div
          class="flex flex-col items-center gap-4 text-center sm:flex-row sm:items-center sm:text-left"
        >
          <img
            src="./assets/map-pin.png"
            alt="Pin"
            class="rounded-full bg-[#005CFF] p-4 object-contain"
          />
          <p class="max-w-sm text-base leading-7 text-[#4F4F4F] md:text-[18px]">
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            pellentesque eu, pretium quis, sem.
          </p>
        </div>

        <div
          class="flex flex-col items-center gap-4 text-center sm:flex-row sm:items-center sm:text-left"
        >
          <img
            src="./assets/map-pin.png"
            alt="Pin"
            class="rounded-full bg-[#005CFF] p-4 object-contain"
          />
          <p class="max-w-sm text-base leading-7 text-[#4F4F4F] md:text-[18px]">
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            pellentesque eu, pretium quis, sem.
          </p>
        </div>

        <div
          class="flex flex-col items-center gap-4 text-center sm:flex-row sm:items-center sm:text-left"
        >
          <img
            src="./assets/map-pin.png"
            alt="Pin"
            class="rounded-full bg-[#005CFF] p-4 object-contain"
          />
          <p class="max-w-sm text-base leading-7 text-[#4F4F4F] md:text-[18px]">
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            pellentesque eu, pretium quis, sem.
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-center md:w-[52%]">
      <img
        src="./assets/segundo-banner.png"
        alt="Banner secundario"
        class="w-full max-w-[650px] object-cover"
      />
    </div>
  </div>
</section>
